#servicos{
	width: 90%;
	height: auto;
	padding: 50px 0 50px 0;
	margin: 20px auto 20px auto;
	background: #fff;
	display: grid;
	grid-template-columns: 80%;
	grid-template-rows: 10% 4% 10% auto auto;
	justify-items: center;
	align-items: start;
	justify-content: center;
}
.logos{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	margin-top: 40px;
}
}
.servicos-item{
	width: 15%;
}