/* Media queries */

@media screen and (max-width: 449px) {
	html, body{
	background-position: 50% 0%;
	}
	.name{
	font-size: 90%;
	}
	.item-inicio{
	border: 3px solid #fff;
	}
	#sobre{
	 flex-direction: column;
	}
	.sobre-1{
	width: 80%;
	}
	.sobre-2{
	width: 70%;
	margin-top: 40px;
	}	
}

/* xs < 768 */
@media screen and (min-width: 450px) {
	html, body{
	background-position: 50% 0%;
	}
	.name{
	font-size: 150%;
	}
	#sobre{
	 flex-direction: column;
	}
	.sobre-1{
	width: 80%;
	}
	.sobre-2{
	width: 70%;
	margin-top: 40px;
	}	
}

/* sm */
@media screen and (min-width: 768px) {
	html, body{
	background-position: 50% 0%;
	}
	.name{
	font-size: 250%;
	}
	#sobre{
	 flex-direction: column;
	}
	.sobre-1{
	width: 80%;
	}
	.sobre-2{
	width: 70%;
	margin-top: 40px;
	}
}

/* md */
@media screen and (min-width: 992px) {
	html, body{
	background-position: 40% 0%;
	}
	.name{
	font-size: 300%;
	}	
	#sobre{
	 flex-direction: row;
	}
	.sobre-1{
	width: 50%;
	}
	.sobre-2{
	width: 30%;
	}
}

/* lg */
@media screen and (min-width: 1200px) {
	html, body{
	background-position: 0% 0%;
	}
	.name{
	font-size: 300%;
	}
	#sobre{
		flex-direction: row;
	}
	.sobre-1{
	width: 50%;
	}
	.sobre-2{
	width: 30%;
	}
}
/* Fim Media queries */